.jumbotron{
    background-color: cornflowerblue;
}


.manager{
    background-color: darkcyan;
    padding: 0;
}

.engineer{
    background-color: darkorange;
}

.intern{
    background-color: darksalmon;
}

.cardtweak{
    margin: 0px;;
    padding:20px;
    background-color: burlywood;

}